@using Microsoft.AspNetCore.Http
@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var action = (string)ViewContext.RouteData.Values["action"];
    var userkey = Context.Session.GetString("UserKey");
}

<div class="top-bar">
    <div class="action-bar">
        <div>
            <div class="flags">
                <a href="/"><img src="~/images/flag01.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag02.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag03.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag04.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag05.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag06.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag07.png" /></a>
                <a href="javascript:alert('준비중입니다.');"><img src="~/images/flag08.png" /></a>
            </div>
        </div>
        <div>
            <a href="/">
                <img class="logo-main" src="/images/logo_main.png" />
            </a>
        </div>
        <div class="menu-right">
            @if (!string.IsNullOrWhiteSpace(userkey))
            {
                <a href="/auth/logout">로그아웃</a> <span></span>
            }
            else
            {
                <a href="/auth/login">로그인</a> <span></span>
                <a href="/auth/join">회원가입</a> <span></span>
            }
            <a href="/information/map">오시는길</a> <span></span>
            <a href="/serviceresult/beforeafter">전후사진</a> <span></span>
            <a href="/counseling/counseling">온라인상담</a>
        </div>
    </div>
    <div class="spliter"></div>
    <div class="menu-bar">
        <a menuindex="0" href="/information/introduce" class="@(controller == "Information" ? "active" : null)">아이델소개</a>
        <a menuindex="1" href="/breast/extra" class="@(controller == "Breast" ? "active" : null)">가슴성형</a>
        <a menuindex="2" href="/face/fat" class="@(controller == "Face" ? "active" : null)">동안성형</a>
        <a menuindex="3" href="/body/liposuction" class="@(controller == "Body" ? "active" : null)">체형조각성형</a>
        <a menuindex="4" href="/eye/idel" class="@(controller == "Eye" ? "active" : null)">눈성형</a>
        <a menuindex="5" href="/nose/bridge" class="@(controller == "Nose" ? "active" : null)">코성형</a>
        <a menuindex="6" href="/faceline/idel" class="@(controller == "Faceline" ? "active" : null)">안면윤곽</a>
        <a menuindex="7" href="/skin/recovery" class="@(controller == "Skin" ? "active" : null)">피부과</a>
        <a menuindex="8" href="/serviceresult/beforeafter" class="@(controller == "ServiceResult" ? "active" : null)">전후사진</a>
        <a menuindex="9" href="/counseling/reservation" class="@(controller == "Counseling" ? "active" : null)">상담</a>
        <a menuindex="10" href="/community/noticelist" class="@(controller == "Community" ? "active" : null)">커뮤니티</a>
    </div>
    <div class="sub-menu-bar">
        <div>
            <div>
                <a href="/information/introduce">병원소개</a>
                <a href="/information/staff">의료진소개</a>
                <a href="/information/map">진료안내&오시는길</a>
                <a href="/information/tour">병원둘러보기</a>
            </div>
            <div>
                <a href="/breast/extra">멘토엑스트라</a>
                <a href="/breast/expansion">가슴확대술</a>
                <a href="/breast/elastic">탄력가슴성형</a>
                <a href="/breast/man">남자여유증</a>
                <a href="/breast/re">유방재건</a>
                <a href="/breast/point">포인트가슴성형</a>
            </div>
            <div>
                <a href="/face/fat">지방이식</a>
                <a href="/face/idellifting">아이델리프팅</a>
                <a href="/face/hair">모발이식</a>
                <a href="/face/innerterafi">이너테라피</a>
                <a href="/face/dimple">기타</a>
            </div>
            <div>
                <a href="/body/liposuction">지방흡입</a>
                <a href="/body/obesityinject">비만</a>
                <a href="/body/body">바디거상</a>
                <a href="/body/hip">엉덩이성형</a>
            </div>
            <div>
                <a href="/eye/idel">아이델 눈성형</a>
                <a href="/eye/young">동안눈성형</a>
                <a href="/eye/eyere">눈재수술</a>
            </div>
            <div>
                <a href="/nose/bridge">콧대성형</a>
                <a href="/nose/tip">코끝성형</a>
                <a href="/nose/ball">콧볼축소</a>
                <a href="/nose/removal">보형물제거</a>
                <a href="/nose/resurgical">코재수술</a>
            </div>
            <div>
                <a href="/faceline/idel">아이델 안면윤곽</a>
                <a href="/faceline/young">동안안면윤곽</a>
                <a href="/faceline/scalp">심부볼제거</a>
            </div>
            <div>
                <a href="/skin/recovery">재생</a>
                <a href="/skin/lifting">리프팅</a>
                <a href="/skin/white">색소(미백)</a>
                <a href="/skin/acne">여드름</a>
                <a href="/skin/putty">쁘띠</a>
                <a href="/skin/innerterafi">이너테라피</a>
                <a href="/skin/scalp">두피</a>
                <a href="/skin/obesityinject">비만</a>
            </div>
            <div>
                <a href="/serviceresult/beforeafter">전/후사진</a>
                <a href="/serviceresult/realstory">리얼스토리</a>
            </div>
            <div>
                <a href="/counseling/reservation">온라인예약</a>
                <a href="/counseling/counseling">온라인상담</a>
            </div>
            <div>
                <a href="/community/noticelist">공지사항</a>
                <a href="/community/broadcastlist">방송출연</a>
                <a href="/community/presscoveragelist">언론보도</a>
                <a href="/community/idelstarlist">아이델스타</a>
                <a href="/community/ideltvlist">아이델TV</a>
                <a href="/community/ideleventlist">이벤트</a>
            </div>
        </div>
    </div>
</div>

<div class="sidemenu">
    <a href="/auth/login" style="margin-bottom: 10px;">로그인</a>
    <div class="spliter" style="margin-bottom: 10px;"></div>
    <a href="/auth/join" style="margin-bottom: 20px;">회원가입</a>
    <a href="https://pf.kakao.com/_gvxjxhxb"><img src="~/images/pc/icon_sidemenu_kakao.png" /></a>
    <a href="https://pf.kakao.com/_gvxjxhxb" target="_blank" style="margin-bottom: 10px;">카톡상담</a>
    <a href="/counseling/counseling"><img src="~/images/pc/icon_sidemenu_counseling.png" /></a>
    <a href="/counseling/counseling" style="margin-bottom: 20px;">온라인상담</a>
    <a href="/counseling/reservation"><img src="~/images/pc/icon_sidemenu_reservation.png" /></a>
    <a href="/counseling/reservation" style="margin-bottom: 20px;">온라인예약</a>
    <a href="/information/map"><img src="~/images/pc/icon_sidemenu_map.png" /></a>
    <a href="/information/map" style="margin-bottom: 20px;">오시는길</a>
    <div class="row">
        <img src="~/images/pc/icon_sidemenu_phone.png" style="vertical-align: bottom;" /> 상담문의
    </div>
    <div class="row" style="margin-bottom: 10px; font-size: 16px; font-weight: bold;">
        02.3442.5900
    </div>
    <div class="spliter" style="margin-bottom: 10px;"></div>
    <div class="row">
        평일
    </div>
    <div class="row">
        10:00 ~ 19:00
    </div>
    <div class="row">
        토요일
    </div>
    <div class="row">
        10:00 ~ 17:00
    </div>
</div>