@model IdelMedical.Database.Tables.Notice
@{
}

@section Styles {
    <link href="~/css/community.css" rel="stylesheet" />
}
<div class="communityDetail">
    <div class="contentArea">
        <form onsubmit="return false;">
            <input name="Id" type="hidden" value="@Model.Id" />

            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                    <span>제 목</span>
                </div>
                <div>
                    <div class="textData">
                        <input name="Subject" type="text" value="@Model.Subject" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <span>썸네일</span>
                    </div>
                    <div class="originArea">
                        <span>내용 이미지</span>
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                    <span>P C</span>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <input id="thumb_pc" name="thumb_pc" type="file" style="display: none;" onchange="updateImage.call(this);" />
                        <label for="thumb_pc" style="display: inline-block; margin: 0 auto;">
                            @if (string.IsNullOrWhiteSpace(Model.ThumbnailPC))
                            {
                                <div class="thumb">
                                    No Image
                                </div>
                            }
                            else
                            {
                                <div class="thumb" style="background-image: url(@Model.ThumbnailPC);">
                                </div>
                            }
                        </label>
                    </div>
                    <div class="originArea">
                        <input id="img_pc" name="img_pc" type="file" style="display: none;" onchange="updateImage.call(this);" />
                        <label for="img_pc" style="display: inline-block; margin: 0 auto;">
                            @if (string.IsNullOrWhiteSpace(Model.ContentPC))
                            {
                                <div class="thumb">
                                    No Image
                                </div>
                            }
                            else
                            {
                                <div class="thumb" style="background-image: url(@Model.ContentPC);">
                                </div>
                            }
                        </label>
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                    <span>Mobile</span>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <input id="thumb_mb" name="thumb_mb" type="file" style="display: none;" onchange="updateImage.call(this);" />
                        <label for="thumb_mb" style="display: inline-block; margin: 0 auto;">
                            @if (string.IsNullOrWhiteSpace(Model.ThumbnailMobile))
                            {
                                <div class="thumb">
                                    No Image
                                </div>
                            }
                            else
                            {
                                <div class="thumb" style="background-image: url(@Model.ThumbnailMobile);">
                                </div>
                            }
                        </label>
                    </div>
                    <div class="originArea">
                        <input id="img_mb" name="img_mb" type="file" style="display: none;" onchange="updateImage.call(this);" />
                        <label for="img_mb" style="display: inline-block; margin: 0 auto;">
                            @if (string.IsNullOrWhiteSpace(Model.ContentMobile))
                            {
                                <div class="thumb">
                                    No Image
                                </div>
                            }
                            else
                            {
                                <div class="thumb" style="background-image: url(@Model.ContentMobile);">
                                </div>
                            }
                        </label>
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                    <div>
                        <span>페이지 링크</span>
                    </div>
                </div>
                <div>
                    <div class="textData">
                        <input name="Link" type="text" value="@Model.Link" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine" style="text-align: center;">
                @if (Model.Id <= 0)
                {
                    <button class="btn-default" type="button" style="margin-right: 10px;" onclick="location.href = document.referrer;">목록</button>
                    <button class="btn-primary" type="button" onclick="updateItem.call(this);">등록</button>
                }
                else
                {
                    <button class="btn-delete" type="button" style="margin-right: 10px;" onclick="removeItem.call(this);">삭제</button>
                    <button class="btn-default" type="button" style="margin-right: 10px;" onclick="location.href = document.referrer;">목록</button>
                    <button class="btn-primary" type="button" onclick="updateItem.call(this);">적용</button>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function updateImage() {
            if ($(this).prop('files').length > 0) {
                var file = $(this).prop('files')[0];
                var localurl = URL.createObjectURL(file);

                var thumb = $(this).next().find('.thumb');
                thumb.css('background-image', 'url(' + localurl + ')');
                thumb.text('');
            }
        }

        function updateItem() {
            try {
                var form = $(this).parents('form')[0];

                $.ajax({
                    url: '/Notice/Update',
                    method: 'post',
                    processData: false,
                    contentType: false,
                    data: new FormData(form)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                    }
                    else if (!data.status) {
                        alert(data.message);
                    }
                    else {
                        alert('적용되었습니다.');
                        location.href = document.referrer;
                    }
                });
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }

        function removeItem() {
            try {

                if (!confirm('현재 항목을 삭제하시겠습니까?')) {
                    return;
                }

                var form = $(this).parents('form')[0];

                $.ajax({
                    url: '/Notice/Remove',
                    method: 'post',
                    processData: false,
                    contentType: false,
                    data: new FormData(form)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                    }
                    else if (!data.status) {
                        alert(data.message);
                    }
                    else {
                        alert('삭제되었습니다.');
                        location.href = document.referrer;
                    }
                });
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }
    </script>
}