@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.Notice[])ViewBag.Items;
}

@section Styles {
    <environment include="Development">
        <link href="~/css/community.css" rel="stylesheet" />
    </environment>
}
<div class="communityList">
    <div class="topBar">
        <div>
            <button onclick="location.href='/Notice/Detail'">
                <span>신규 등록</span>
            </button>
        </div>
    </div>
    <div class="itemList">
        <div class="splitLine"></div>

        <div class="table">
            <div class="header">
                <div style="width:120px;">
                    No.
                </div>
                <div>
                    제 목
                </div>
                <div style="width:200px;">
                    등록일자
                </div>
            </div>
            @foreach (var item in items)
            {
                <div>
                    <div style="text-align: center;">
                        @item.Id
                    </div>
                    <div>
                        <a href="Detail?id=@item.Id">@item.Subject</a>
                    </div>
                    <div style="text-align: center;">
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.PrevPage })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>