@{
    var item = (IdelMedical.Database.Tables.Broadcast)ViewBag.Item;
}

@section Styles {
    <link href="~/css/pc_broadcast.css" rel="stylesheet" />
}

<div class="broadcast-detail">
    <div>
        <div class="spliter1"></div>
        <div class="date">
            @item.CreateTime.ToString("yyyy-MM-dd")
        </div>
        <div class="title">
            @Html.Raw(item.Subject)
        </div>
        <div class="spliter2"></div>
        <div class="content">
            @if (!string.IsNullOrWhiteSpace(item.ContentPC))
            {
                @if (!string.IsNullOrWhiteSpace(item.Link))
                {
                    <a href="@item.Link" target="@item.LinkTarget"><img src="@item.ContentPC" /></a>
                }
                else
                {
                    <img src="@item.ContentPC" />
                }
            }
            @if (!string.IsNullOrWhiteSpace(item.ContentPC) && !string.IsNullOrWhiteSpace(item.VideoLink))
            {
                <br />
                <br />
            }
            @if (!string.IsNullOrWhiteSpace(item.VideoLink))
            {
                @Html.Raw(item.VideoLink)
            }
        </div>
        <div class="control-pannel">
            <button onclick="history.back();">목록</button>
        </div>
    </div>
</div>
