@model IdelMedical.Database.Tables.Counseling
@{
}

@section Styles {
    <environment include="Development">
        <link href="~/css/counseling.css" rel="stylesheet" />
    </environment>
}
<div class="counselingDetail">

    <div class="title">
        <span>상담요청</span>
        <span> > 상세정보</span>
    </div>
    <div class="contentArea">
        <form onsubmit="return false">
            <input name="Id" type="hidden" value="@Model.Id" />
            <br />
            <span class="label" style="padding-left:14px;">제 목</span>
            <div class="spliter1"></div>
            <span class="onlyText">@Model.Subject</span>
            <div class="spliter2"></div>
            <br />
            <span class="label" style="padding-left:14px;">작성자 정보</span>
            <div class="spliter1"></div>
            <div class="writerInfo">
                <div>
                    <span>작성자 :</span><span>@Model.User.Name</span>
                </div>
                <div>
                    <span>연락처 :</span><span>@Model.User.Phone</span>
                </div>
                <div>
                    <span>이메일 :</span><span>@Model.User.Email</span>
                </div>
            </div>
            <div class="spliter2"></div>
            <br />
            <span class="label" style="padding-left:14px;">문의 내용</span>
            <div class="spliter1"></div>
            <pre class="questionArea">@Model.Substance</pre>
            <div class="spliter2"></div>
            <br />
            <span class="label" style="padding-left:14px;">답 변</span>
            <div class="spliter1"></div>
            <textarea name="answer" class="replyArea" rows="12">@Model.Answer</textarea>
            <div class="spliter2"></div>
            <br />
            <br />
            <div class="control-pannel">
                <button class="btn-default" type="button" style="margin-right: 10px;" onclick="location.href = document.referrer;">목록</button>
                <button class="btn-primary" type="button" onclick="updateItem.call(this);">적용</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function updateItem() {
            try {
                var form = $(this).parents('form')[0];

                $.ajax({
                    url: '/Counseling/Update',
                    method: 'post',
                    processData: false,
                    contentType: false,
                    data: new FormData(form)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                    }
                    else if (!data.status) {
                        alert(data.message);
                    }
                    else {
                        alert('적용되었습니다.');
                        location.href = document.referrer;
                    }
                });
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }

    </script>
}