@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.Counseling[])ViewBag.Items;

}
@section Styles {
    <environment include="Development">
        <link href="~/css/counseling.css" rel="stylesheet" />
    </environment>
}

<div class="counselingList">
    <div class="title">
        <span>상담요청</span>
        <span> > 목록</span>
    </div>
    <form class="topBar">
        <div class="categoly">
            <div>
                <span>카테고리 선택</span>
                <select name="categolyItems" onchange="">
                    <option value="전체">전체</option>
                    <option value="가슴성형">가슴성형</option>
                    <option value="동안성형">동안성형</option>
                    <option value="체형성형">체형성형</option>
                    <option value="눈성형">눈성형</option>
                    <option value="코성형">코성형</option>
                    <option value="안면윤곽">안면윤곽</option>
                    <option value="피부과">피부과</option>
                </select>

                <span>상태</span>
                <select name="categolyItems" onchange="">
                    <option value="전체">전체</option>
                    <option value="처리완료">처리완료</option>
                    <option value="미처리">미처리</option>
                </select>
            </div>
        </div>
        <div class="findArea">
            <div>
                <input type="text" />
                <button class="btn-primary">
                    검색
                </button>
            </div>
        </div>
    </form>
    <div class="spliter1"></div>
    <div class="itemList">
        <div class="splitLine"></div>

        <div class="table">
            <div class="header">
                <div style="width:120px;">
                    No.
                </div>
                <div>
                    진료과목
                </div>
                <div>
                    제 목
                </div>
                <div>
                    답 변
                </div>
                <div>
                    작성자
                </div>
                <div style="width:200px;">
                    작성일
                </div>
            </div>
            @foreach (var item in items)
            {
                <div>
                    <div style="text-align: center;">
                        @item.Id
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@item.Category</a>
                    </div>
                    <div style="text-align:left;">
                        <a href="/Counseling/Detail?id=@item.Id">@item.Subject</a>
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@(string.IsNullOrEmpty(item.Answer) ? "답변대기" : "답변완료")</a>
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@item.UserName</a>
                    </div>
                    <div style="text-align: center;">
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.PrevPage })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>