@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.Counseling[])ViewBag.Items;
    var search = (string)ViewBag.Search;
    var categoryFilter = (string)ViewBag.CategoryFilter;
    var applyFilter = (string)ViewBag.Applyfilter;

}
@section Styles {
    <environment include="Development">
        <link href="~/css/counseling.css" rel="stylesheet" />
    </environment>
}

<div class="counselingList">
    <div class="title">
        <span>상담요청</span>
        <span> > 목록</span>
    </div>
    <form class="topBar">
        <div class="category">
            <div>
                <span>카테고리 선택</span>
                <select name="categoryFilter">
                    <option value="전체" selected="@(string.IsNullOrWhiteSpace(categoryFilter) ? "selected" : null)">전체</option>
                    <option value="가슴성형" selected="@(categoryFilter == "가슴성형" ? "selected" : null)">가슴성형</option>
                    <option value="동안성형" selected="@(categoryFilter == "동안성형" ? "selected" : null)">동안성형</option>
                    <option value="체형성형" selected="@(categoryFilter == "체형성형" ? "selected" : null)">체형성형</option>
                    <option value="눈성형" selected="@(categoryFilter == "눈성형" ? "selected" : null)">눈성형</option>
                    <option value="코성형" selected="@(categoryFilter == "코성형" ? "selected" : null)">코성형</option>
                    <option value="안면윤곽" selected="@(categoryFilter == "안면윤곽" ? "selected" : null)">안면윤곽</option>
                    <option value="피부과" selected="@(categoryFilter == "피부과" ? "selected" : null)">피부과</option>
                </select>

                <span>상태</span>
                <select name="applyFilter">
                    <option value="전체" selected="@(string.IsNullOrWhiteSpace(applyFilter) ? "selected" : null)">전체</option>
                    <option value="처리완료" selected="@(applyFilter == "처리완료" ? "selected" : null)">처리완료</option>
                    <option value="미처리" selected="@(applyFilter == "미처리" ? "selected" : null)">미처리</option>
                </select>
            </div>
        </div>
        <div class="findArea">
            <div>
                <input name="search" type="text" value="@search" />
                <button class="btn-primary" onclick="filterApply.call(this)">
                    검색
                </button>
            </div>
        </div>
    </form>
    <div class="spliter1"></div>
    <div class="itemList">
        <div class="splitLine"></div>

        <div class="table">
            <div class="header">
                <div style="width:120px;">
                    No.
                </div>
                <div>
                    진료과목
                </div>
                <div>
                    제 목
                </div>
                <div>
                    답 변
                </div>
                <div>
                    작성자
                </div>
                <div style="width:200px;">
                    작성일
                </div>
            </div>
            @foreach (var item in items)
            {
                <div>
                    <div style="text-align: center;">
                        @item.Id
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@item.Category</a>
                    </div>
                    <div style="text-align:left;">
                        <a href="/Counseling/Detail?id=@item.Id">@item.Subject</a>
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@(string.IsNullOrEmpty(item.Answer) ? "답변대기" : "답변완료")</a>
                    </div>
                    <div>
                        <a href="/Counseling/Detail?id=@item.Id">@item.UserName</a>
                    </div>
                    <div style="text-align: center;">
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a onclick="PrevPage.call(this)" href="@Url.Action("Index", new { page = pager.PrevPage, search, categoryFilter, applyFilter })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i, search, categoryFilter, applyFilter })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage, search, categoryFilter, applyFilter })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function filterApply() {
            try {
                var form = $(this).parents('form')[0];

                location.href = document.referrer;
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }

        function PrevPage() {
            try {
                var form = $(this).parents('form')[0];

                location.href = document.referrer;
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }
        function NextPage() {
            try {
                var form = $(this).parents('form')[0];
                page = pager.NextPage
                location.href = document.referrer;
            } catch (e) {
                alert('작업에 실패했습니다.\n담당자에게 문의해 주세요.');
                console.log(e);
            }
        }
    </script>
}