@section Styles {
    <link href="~/css/pc_login.css" rel="stylesheet" />
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
}

<div class="login">
    <div class="title">
        <span>로그인</span><br />
        <span>IDEL PLASTIC SURGERY & AESTHETIC</span>
    </div>
    <form class="pannel" onsubmit="return doSubmit.call(this);">
        <div class="input-box">
            <img src="~/images/pc/auth/icon_login_userid.png" />
            <input name="userid" placeholder="ID" />
        </div>
        <div class="input-box" style="margin-top: 10px;">
            <img src="~/images/pc/auth/icon_login_password.png" />
            <input name="passwd" placeholder="Password" type="password" />
        </div>
        <button class="submit-button">로그인</button>
        <div class="links">
            <a href="/auth/join">▶ 회원가입</a> &nbsp; | &nbsp; <a href="/auth/find">아이디 / 비밀번호 찾기</a>
        </div>
    </form>
    <div class="oauths">
        <div>
            <div id="naverIdLogin"></div>
        </div>
        <div>
            <a id="kakao-login-btn"></a>
        </div>
        <div>
            <div class="facebook-login-button" onclick="facebookLogin();">
                <div>
                    <img src="~/images/icon_facebook_login.png" />
                </div>
                <div>
                    Facebook으로 로그인
                </div>
            </div>
        </div>
        <div>
            <button onclick="alert('준비중입니다.');">구글 로그인</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(window).on('load', function () {
            naverInit();
            facebookInit();
            kakaoInit();
        });

        function naverInit() {
            var naverLogin = new naver.LoginWithNaverId(
		        {
			        clientId: "@ViewBag.NaverClientId",
                    callbackUrl: "@ViewBag.NaverRedirectUrl",
                    isPopup: false, /* 팝업을 통한 연동처리 여부 */
                    loginButton: { color: "green", type: 3, height: 50} /* 로그인 버튼의 타입을 지정 */
		        }
	        );
            naverLogin.init();
            $('#naverIdLogin img').css('width', '100%');
        }

        function kakaoInit() {
            Kakao.init('@ViewBag.KakaoJavascriptKey');
            Kakao.Auth.createLoginButton({
                container: '#kakao-login-btn',
                success: function (authObj) {
                    location.href = '/auth/kakaologin?access_token=' + authObj.access_token;
                },
                fail: function (err) {
                    console.log(err);
                }
            });
        }

        function facebookInit() {
            FB.init({
                appId: '@ViewBag.FacebookAppId',
                cookie: true,
                xfbml: true,
                version: '@ViewBag.FacebookApiVersion'
            });
        }

        function facebookLogin() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    var accessToken = encodeURI(response.authResponse.accessToken);
                    location.href = '/auth/facebooklogin?access_token=' + accessToken;
                }
            }, {scope: 'public_profile,email'});
        }

        function doSubmit() {
            try {
                $.ajax({
                    url: '/auth/dologin',
                    method: 'post',
                    contentType: false,
                    processData: false,
                    data: new FormData(this)
                }).always(function (data, status) {
                    if (status !== 'success') {
                        alert('잠시 후에 다시 시도해 주세요');
                    }
                    else if (!data.status) {
                        alert(data.message);
                    }
                    else {
                        location.href = '/';
                    }
                });
            } catch (e) {
                console.log(e);
                alert('잠시 후에 다시 시도해 주세요');
            }

            return false;
        }

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}