@using Microsoft.AspNetCore.Http
@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var action = (string)ViewContext.RouteData.Values["action"];
    var loginmanager = Context.Session.GetString("LoginManager");

    var manager = default(IdelMedical.Database.Tables.Manager);
    if (!string.IsNullOrWhiteSpace(loginmanager))
    {
        manager = Newtonsoft.Json.JsonConvert.DeserializeObject<IdelMedical.Database.Tables.Manager>(loginmanager);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>아이델 성형외과 - 매니저</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <table class="layout" cellpadding="0" cellspacing="0">
        <tr>
            <td class="logo">
                <img src="~/images/logo_main.png" />
            </td>
            <td class="top-area">
                @if (string.IsNullOrWhiteSpace(loginmanager))
                {
                    <a href="/Auth/Login">로그인</a>
                }
                else
                {
                    <a href="/Auth/Logout">로그아웃</a>
                }
            </td>
        </tr>
        <tr>
            @if (manager == null)
            {
                <td colspan="2">
                    @RenderBody()
                </td>
            }
            else
            {
                <td class="menu-area">
                    @if (manager.Type == IdelMedical.Database.ManagerTypes.Root || manager.Type == IdelMedical.Database.ManagerTypes.Counseler)
                    {
                        <a href="/Member" class="@(controller == "Member" ? "active" : null)">회원목록</a>
                        <a href="/Counseling" class="@(controller == "Counseling" ? "active" : null)">상담요청</a>
                        <a href="/Reservation" class="@(controller == "Reservation" ? "active" : null)">예약요청</a>
                        <a href="/ModelManagement" class="@(controller == "ModelManagement" ? "active" : null)">모델관리</a>
                    }
                    @if (manager.Type == IdelMedical.Database.ManagerTypes.Root || manager.Type == IdelMedical.Database.ManagerTypes.Marketer)
                    {
                        <a href="/Main" class="@(controller == "Main" ? "active" : null)">메인관리</a>
                        <a href="/BeforeAfter" class="@(controller == "BeforeAfter" ? "active" : null)">전후사진</a>
                        <a href="/Notice" class="@(controller == "Notice" ? "active" : null)">공지사항</a>
                        <a href="/Broadcast" class="@(controller == "Broadcast" ? "active" : null)">방송출연</a>
                        <a href="/PressCoverage" class="@(controller == "PressCoverage" ? "active" : null)">언론보도</a>
                        <a href="/IdelStar" class="@(controller == "IdelStar" ? "active" : null)">아이델스타</a>
                        <a href="/IdelTV" class="@(controller == "IdelTV" ? "active" : null)">아이델TV</a>
                        <a href="/IdelEvent" class="@(controller == "IdelEvent" ? "active" : null)">이벤트</a>
                    }
                </td>
                <td>
                    @RenderBody()
                </td>
            }
        </tr>
    </table>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
