@model IdelMedical.Database.Tables.Reservation
@{
}

@section Styles {
    <link href="~/css/reservation.css" rel="stylesheet" />
}
<div class="reservationDetail">
    <div class="title">
        <span>예약요청</span>
        <span> > 상세정보</span>
    </div>
    <div class="contentArea">
        <form onsubmit="return false">
            <input name="Id" type="hidden" value="@Model.Id" />
            <br />
            <span class="label" style="padding-left:14px;">예약 정보</span>
            <div class="spliter1"></div>
            <div class="infoTable">
                <div class="infoTable-row">
                    <span>예약일 :</span>
                    <span class="onlyText">@Model.ReservationTime.ToString("yyyy-MM-dd")</span>
                </div>
                <div class="infoTable-row">
                    <span>시간 :</span>
                    <span class="onlyText">@Model.ReservationTime.ToString("tt hh:mm")</span>
                </div>
                <div class="infoTable-row">
                    <span>진료과목 :</span>
                    <span class="onlyText">@Model.Category</span>
                </div>
            </div>
            <div class="spliter2"></div>
            <br />
            <span class="label" style="padding-left:14px;">신청인 정보</span>
            <div class="spliter1"></div>
            <div class="infoTable">
                <div class="infoTable-row">
                    <span>이름 :</span>
                    <span class="onlyText">@Model.Name</span>
                </div>
                <div class="infoTable-row">
                    <span>휴대폰 :</span>
                    <span class="onlyText">@Model.Category (@(Model.UseCall == true ? "상담동의" : "상담미동의"))</span>
                </div>
                <div class="infoTable-row">
                    <span>초진여부 :</span>
                    <span class="onlyText">@(Model.IsFirst == true ? "초진" : "재진"))</span>
                </div>
                <div class="infoTable-row">
                    <span>내원경로 :</span>
                    <span class="onlyText">@Model.Channel</span>
                </div>
                <div class="infoTable-row">
                    <span>신청인 이름 :</span>
                    <span class="onlyText">@Model.User.Name</span>
                </div>
            </div>
            <div class="spliter2"></div>
            <br />
            <span class="label" style="padding-left:14px;">메 모</span>
            <div class="spliter1"></div>
            <textarea class="memoArea">@Model.Memo</textarea>
            <div class="spliter2"></div>
            <br />
            <br />
            <div class="control-pannel">
                <button class="btn-default" type="button" style="margin-right: 10px;" onclick="location.href = document.referrer;">목록</button>
                <button class="btn-primary" type="button" onclick="updateItem.call(this);">적용</button>
            </div>
        </form>
    </div>
</div>