@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.Reservation[])ViewBag.Items;

}

@section Styles {
    <link href="~/css/reservation.css" rel="stylesheet" />
}
<div class="reservationList">
    <div class="title">
        <span>예약요청</span>
        <span> > 목록</span>
    </div>
    <div class="itemList">
        <div class="splitLine"></div>

        <div class="table">
            <div class="header">
                <div style="width:120px;">
                    No.
                </div>
                <div style="width:200px;">
                    카테고리
                </div>
                <div style="width:200px;">
                    예약희망일
                </div>
                <div>
                    고객이름
                </div>
                <div style="width:200px;">
                    연락처
                </div>
                <div style="width:200px;">
                    연락희망여부
                </div>
                <div style="width:200px;">
                    작성일자
                </div>
            </div>
            @{
                int count = 0;
            }
            @foreach (var item in items)
            {
                count++;
                if (count > 15) break;
                <div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.Id</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.Category</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.ReservationTime.ToString("yyyy-MM-dd tt hh:mm")</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.Name</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.Phone</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@(item.UseCall == true ? "승인" : "미승인")</a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/Reservation/Detail?id=@item.Id">@item.ReservationTime.ToString("yyyy-MM-dd")</a>
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.PrevPage })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>