@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.PressCoverage[])ViewBag.Items;
}

@section Styles {
    <link href="~/css/community.css" rel="stylesheet" />
}
<div class="communityList">
    <div class="title">
        <span>언론보도</span>
        <span> > 목록</span>
    </div>
    <div class="topBar">
        <div>
            <button class="btn-primary" onclick="location.href='/PressCoverage/Detail'">
                신규등록
            </button>
        </div>
    </div>
    <div class="spliter1"></div>
    <div class="itemList">
        <div class="splitLine"></div>

        <div class="table">
            <div class="header">
                <div style="width:120px;">
                    No.
                </div>
                <div>
                    제 목
                </div>
                <div style="width:200px;">
                    등록일자
                </div>
            </div>
            @foreach (var item in items)
            {
                <div>
                    <div>
                        @item.Id
                    </div>
                    <div style="text-align: left; font-weight: bold;">
                        <a href="/PressCoverage/Detail?id=@item.Id">@item.Subject</a>
                    </div>
                    <div>
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.PrevPage })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>