@{
    var pager = (PageHandler)ViewBag.Pager;
    var items = (IdelMedical.Database.Tables.User[])ViewBag.Items;

}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" />
}
<div class="memberList">
    <div class="title">
        <span>회원목록</span>
        <span> > 목록</span>
    </div>
    <div class="spliter1"></div>
    <div class="itemList">
        <div class="table">
            <div class="header">
                <div style="width:150px;">
                    No.
                </div>
                <div style="width:180px;">
                    이 름
                </div>
                <div style="width:200px;">
                    생년월일
                </div>
                <div style="width:200px;">
                    전화번호
                </div>
                <div>
                    이메일
                </div>
                <div style="width:120px;">
                    성 별
                </div>
                <div style="width:200px;">
                    가입일자
                </div>
            </div>
            @foreach (var item in items)
            {
                <div>
                    <div>
                        @item.Id
                    </div>
                    <div>
                        @item.Name
                    </div>
                    <div>
                        @item.Birthday
                    </div>
                    <div>
                        @item.Phone
                    </div>
                    <div>
                        @item.Email
                    </div>
                    <div>
                        @(item.Gender == IdelMedical.Database.GenderTypes.Male ? "남성" : "여성")
                    </div>
                    <div>
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <div class="paging">
                @if (pager.PrevPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.PrevPage })">&lt;</a>
                }
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="@(i == pager.CurrentPage ? "active" : null)">@i.ToString("#,##0")</a>
                }
                @if (pager.NextPage > 0)
                {
                    <a href="@Url.Action("Index", new { page = pager.NextPage })">&gt;</a>
                }
            </div>
        </div>
    </div>
</div>